html {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background: #FFF;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - min(40vw, 40vh));
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
}

#title {
    position: fixed;
    left: calc((100vw - min(80vw, 80vh)) / 2);
    top: 48vh;
    width: min(80vw, 80vh);
    background-color: #00000000;
}

h1 {
    font-size: 6vh;
    text-align: center;
    color: #FFFFFF96;
    background-color: #00000000;
}

#contact {
    position: fixed;
    left: calc((100vw - min(80vw, 80vh)) / 2);
    width: min(80vw, 80vh);
    bottom: 4vh;
    text-align: center;
}

a {
    color: #888;
    transition: color .5s;
    font-size: 1.5vh;
}

a:hover {
    color: #000;
}