body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 40vw);
    width: 80vw;
    height: 80vw;
}

#title {
    position: fixed;
    left: 10vw;
    top: calc(50vh - 20vw);
    width: 80vw;
    background-color: #00000000;
}

h1 {
    font-size: 6vh;
    text-align: center;
    color: #FFFFFF96;
    background-color: #00000000;
}

body {
    font-family: Arial, sans-serif;
    background: #FFF;
    width: 100vw;
    overflow-x: hidden;
}

#contact {
    position: fixed;
    left: calc((100vw - 80vh) / 2);
    width: 80vw;
    bottom: 4vh;
    text-align: center;
}

a {
    color: #888;
    transition: color .5s;
    font-size: 1.5vh;
}

a:hover {
    color: #000;
}